# The Bisection Method

## Algorithm

To find a solution to f(x) = 0 given the continuous function f on the interval [a,b], where f(a) and f(b) have opposite signs:
INPUT endpoints a,b; tolerance TOL; maximum number of iterations N₀.
OUTPUT approximate solution p or message of failure.
Step 1 Set i = 1;
         FA = f(a).
Step 2 While i ≤ N₀ do Steps 3–6.
Step 3 Set p = a + (b − a)/2; (Compute pᵢ.)
         FP = f(p).
Step 4 If FP = 0 or (b − a)/2 < TOL then
         OUTPUT (p); (Procedure completed successfully.)
         STOP.
Step 5 Set i = i + 1.
Step 6 If FA · FP > 0 then set a = p; (Compute aᵢ ,bᵢ .)
         FA = FP
         else set b = p. (FA is unchanged.)
Step 7 OUTPUT (‘Method failed after N₀ iterations, N₀ =’, N₀ );
         (The procedure was unsuccessful.)
         STOP.

## Code

In [2]:
import pandas as pd

In [3]:
def Bisection(a, b, f, tolerance=0.000001, max_iterations=100, output='answer', stopping_criterion='tolerance', iteration=100):
    """The Bisection Algorithm

    Keyword arguments:
    a (double) -- starting interval
    b (double) -- ending interval
    f (function) -- function defined on interval
    tolerance (double) -- error tolerance (default = 0.000001)
    max_iterations (int) -- number of maximum iterations (default = 100)
    output (string) -- how to output the result (default = 'answer')
                possible values are:
                  - 'answer' : to show the value of "p"
                  - 'table' : to show all the values in tabular form
    stopping_criterion (string) -- when to stop the processing (default = 'tolerance')
                possible vaulse are:
                  - 'tolerance' : to stop at a certain tolerance level
                  - 'iteration' : to stop at a certain iteration (must provide value for 'iteration' argument)
    iteration (int) -- on which iteration to stop the processing (default = 100)
    
    Returns:
    
    bool: False if there's a problem
    
    Otherwise it will return the value according to the value in 'output' argument.
    If value of output is 'answer', it will return a float. If it is 'table', it will return a DataFrame.
    """
    
    # check if 'f' is a function
    if(not callable(f)):
        print ("Please provide a function 'f'")
        return False
    
    fa = f(a)
    fb = f(b)
    # check if fa and fb have the same signs
    if ((fa > 0 and fb > 0) or (fa < 0 and fb < 0)):
        print ("This problem is unsolvable as")
        print ("f(a) = ", fa)
        print ("f(b) = ", fb)
        print ("They are both ", "negative." if fa < 0 else "positive.")
        return False
    
    A = list()
    B = list()
    P = list()
    FA = list()
    FB = list()
    FP = list()
    
    for i in range(1, max_iterations):
        p = round(a + (b - a)/2, 9)
        fp = f(p)
        
        A.append(a)
        B.append(b)
        P.append(p)
        FA.append(fa)
        FB.append(fb)
        FP.append(fp)
        
        if (fp == 0 or (b-a)/2 < tolerance or (stopping_criterion == 'iteration' and iteration == i)):
            if (output == 'answer'):
                return p
            if (output == 'table'):
                # create a table and return it
                d = {'a': A, 'f(a)': FA, 'b' : B, 'f(b)' : FB, 'p' : P, 'f(p)': FP}
                df = pd.DataFrame(data=d, columns=['a', 'f(a)', 'b', 'f(b)', 'p', 'f(p)'])
                df.index = df.index + 1
                return df
        
        if (fa * fp > 0): 
            a = p
            fa = fp
        else:
            b = p
            fb = fp
    
    print ("Method failed after ", max_iterations, " iterations.")
    return False

### Example 1
Show that f(x) = x³ + 4x² − 10 = 0 has a root in [1,2], and use the Bisection method to determine an approximation to the root that is accurate to at least within 10⁻⁴

In [4]:
def f(x):
    return pow(x, 3) + 4 * pow(x, 2) - 10

In [5]:
Bisection(1, 2, f, pow(10, -4), output="table")

           a      f(a)         b       f(b)         p      f(p)
1   1.000000 -5.000000  2.000000  14.000000  1.500000  2.375000
2   1.000000 -5.000000  1.500000   2.375000  1.250000 -1.796875
3   1.250000 -1.796875  1.500000   2.375000  1.375000  0.162109
4   1.250000 -1.796875  1.375000   0.162109  1.312500 -0.848389
5   1.312500 -0.848389  1.375000   0.162109  1.343750 -0.350983
6   1.343750 -0.350983  1.375000   0.162109  1.359375 -0.096409
7   1.359375 -0.096409  1.375000   0.162109  1.367188  0.032356
8   1.359375 -0.096409  1.367188   0.032356  1.363281 -0.032150
9   1.363281 -0.032150  1.367188   0.032356  1.365234  0.000072
10  1.363281 -0.032150  1.365234   0.000072  1.364258 -0.016047
11  1.364258 -0.016047  1.365234   0.000072  1.364746 -0.007989
12  1.364746 -0.007989  1.365234   0.000072  1.364990 -0.003959
13  1.364990 -0.003959  1.365234   0.000072  1.365112 -0.001944
14  1.365112 -0.001944  1.365234   0.000072  1.365173 -0.000936

In [6]:
print("The answer is : " , Bisection(1, 2, f, pow(10, -4), output="answer"))

The answer is :  1.36517334

# Exercise Set 2.1

### (1) Use the Bisection method to find p₃ for f(x) = √x − cosx on [0,1].

In [7]:
import math
def f(x):
    return math.sqrt(x) - math.cos(x)

In [8]:
Bisection(0, 1, f, output="table", stopping_criterion='iteration', iteration=3)

     a      f(a)     b      f(b)      p      f(p)
1  0.0 -1.000000  1.00  0.459698  0.500 -0.170476
2  0.5 -0.170476  1.00  0.459698  0.750  0.134337
3  0.5 -0.170476  0.75  0.134337  0.625 -0.020394

In [9]:
print("The answer is : " , Bisection(0, 1, f, output="answer", stopping_criterion='iteration', iteration=3))

The answer is :  0.625

### (2) Let f(x) = 3(x + 1)(x −1/2)(x − 1). Use the Bisection method on the following intervals to find p₃

In [10]:
def f(x):
    return 3*(x + 1)*(x-(1/2))*(x-1)

#### a. [-2, 1.5]

In [11]:
Bisection(-2, 1.5, f, output="table", stopping_criterion='iteration', iteration=3)

       a       f(a)     b      f(b)       p      f(p)
1 -2.000 -22.500000  1.50  3.750000 -0.2500  2.109375
2 -2.000 -22.500000 -0.25  2.109375 -1.1250 -1.294922
3 -1.125  -1.294922 -0.25  2.109375 -0.6875  1.878662

In [12]:
print("The answer is : " , Bisection(-2, 1.5, f, output="answer", stopping_criterion='iteration', iteration=3))

The answer is :  -0.6875

#### b. [−1.25,2.5]

In [13]:
Bisection(-1.25, 2.5, f, output="table", stopping_criterion='iteration', iteration=3)

       a      f(a)       b       f(b)        p      f(p)
1 -1.250 -2.953125  2.5000  31.500000  0.62500 -0.228516
2  0.625 -0.228516  2.5000  31.500000  1.56250  4.594482
3  0.625 -0.228516  1.5625   4.594482  1.09375  0.349640

In [14]:
print("The answer is : " , Bisection(-1.25, 2.5, f, output="answer", stopping_criterion='iteration', iteration=3))

The answer is :  1.09375

### (3) Use the Bisection method to find solutions accurate to within 10⁻² for x³ − 7x² + 14x − 6 = 0 on each interval.

In [15]:
def f(x):
    return pow(x, 3) - 7*pow(x, 2) + 14*x - 6

#### a. [0,1]

In [16]:
Bisection(0, 1, f, tolerance=pow(10, -2), output="table")

          a      f(a)        b      f(b)         p      f(p)
1  0.000000 -6.000000  1.00000  2.000000  0.500000 -0.625000
2  0.500000 -0.625000  1.00000  2.000000  0.750000  0.984375
3  0.500000 -0.625000  0.75000  0.984375  0.625000  0.259766
4  0.500000 -0.625000  0.62500  0.259766  0.562500 -0.161865
5  0.562500 -0.161865  0.62500  0.259766  0.593750  0.054047
6  0.562500 -0.161865  0.59375  0.054047  0.578125 -0.052624
7  0.578125 -0.052624  0.59375  0.054047  0.585938  0.001031

In [17]:
print("The answer is : " , Bisection(0, 1, f, tolerance=pow(10, -2), output="answer"))

The answer is :  0.5859375

#### b. [1,3.2]

In [18]:
Bisection(1, 3.2, f, tolerance=pow(10, -2), output="table")

         a      f(a)         b      f(b)         p      f(p)
1  1.00000  2.000000  3.200000 -0.112000  2.100000  1.791000
2  2.10000  1.791000  3.200000 -0.112000  2.650000  0.552125
3  2.65000  0.552125  3.200000 -0.112000  2.925000  0.085828
4  2.92500  0.085828  3.200000 -0.112000  3.062500 -0.054443
5  2.92500  0.085828  3.062500 -0.054443  2.993750  0.006328
6  2.99375  0.006328  3.062500 -0.054443  3.028125 -0.026521
7  2.99375  0.006328  3.028125 -0.026521  3.010937 -0.010697
8  2.99375  0.006328  3.010937 -0.010697  3.002344 -0.002333

In [19]:
print("The answer is : " , Bisection(1, 3.2, f, tolerance=pow(10, -2), output="answer"))

The answer is :  3.00234375

#### c. [3.2,4]

In [20]:
Bisection(3.2, 4, f, tolerance=pow(10, -2), output="table")

        a      f(a)      b      f(b)        p      f(p)
1  3.2000 -0.112000  4.000  2.000000  3.60000  0.336000
2  3.2000 -0.112000  3.600  0.336000  3.40000 -0.016000
3  3.4000 -0.016000  3.600  0.336000  3.50000  0.125000
4  3.4000 -0.016000  3.500  0.125000  3.45000  0.046125
5  3.4000 -0.016000  3.450  0.046125  3.42500  0.013016
6  3.4000 -0.016000  3.425  0.013016  3.41250 -0.001998
7  3.4125 -0.001998  3.425  0.013016  3.41875  0.005382

In [21]:
print("The answer is : " , Bisection(3.2, 4, f, tolerance=pow(10, -2), output="answer"))

The answer is :  3.41875

### (4) Use the Bisection method to find solutions accurate to within 10⁻² for x⁴ − 2x³ − 4x² + 4x + 4 = 0 on each interval.

In [22]:
def f(x):
    return pow(x, 4) - 2*pow(x, 3) - 4*pow(x, 2) + 4*x + 4

#### a. [−2,−1]

In [23]:
Bisection(-2, -1, f, tolerance=pow(10, -2), output="table")

          a       f(a)        b      f(b)         p      f(p)
1 -2.000000  12.000000 -1.00000 -1.000000 -1.500000  0.812500
2 -1.500000   0.812500 -1.00000 -1.000000 -1.250000 -0.902344
3 -1.500000   0.812500 -1.25000 -0.902344 -1.375000 -0.288818
4 -1.500000   0.812500 -1.37500 -0.288818 -1.437500  0.195328
5 -1.437500   0.195328 -1.37500 -0.288818 -1.406250 -0.062667
6 -1.437500   0.195328 -1.40625 -0.062667 -1.421875  0.062263
7 -1.421875   0.062263 -1.40625 -0.062667 -1.414062 -0.001208

In [24]:
print("The answer is : " , Bisection(-2, -1, f, tolerance=pow(10, -2), output="answer"))

The answer is :  -1.4140625

#### b. [0,2]

In [25]:
Bisection(0, 2, f, tolerance=pow(10, -2), output="table")

         a      f(a)         b      f(b)         p      f(p)
1  0.00000  4.000000  2.000000 -4.000000  1.000000  3.000000
2  1.00000  3.000000  2.000000 -4.000000  1.500000 -0.687500
3  1.00000  3.000000  1.500000 -0.687500  1.250000  1.285156
4  1.25000  1.285156  1.500000 -0.687500  1.375000  0.312744
5  1.37500  0.312744  1.500000 -0.687500  1.437500 -0.186508
6  1.37500  0.312744  1.437500 -0.186508  1.406250  0.063676
7  1.40625  0.063676  1.437500 -0.186508  1.421875 -0.061318
8  1.40625  0.063676  1.421875 -0.061318  1.414062  0.001208

In [26]:
print("The answer is : " , Bisection(0, 2, f, tolerance=pow(10, -2), output="answer"))

The answer is :  1.4140625

#### c. [2,3]

In [27]:
Bisection(2, 3, f, tolerance=pow(10, -2), output="table")

         a      f(a)         b      f(b)         p      f(p)
1  2.00000 -4.000000  3.000000  7.000000  2.500000 -3.187500
2  2.50000 -3.187500  3.000000  7.000000  2.750000  0.347656
3  2.50000 -3.187500  2.750000  0.347656  2.625000 -1.757568
4  2.62500 -1.757568  2.750000  0.347656  2.687500 -0.795639
5  2.68750 -0.795639  2.750000  0.347656  2.718750 -0.247466
6  2.71875 -0.247466  2.750000  0.347656  2.734375  0.044125
7  2.71875 -0.247466  2.734375  0.044125  2.726562 -0.103151

In [28]:
print("The answer is : " , Bisection(2, 3, f, tolerance=pow(10, -2), output="answer"))

The answer is :  2.7265625

#### d. [−1,0]

In [29]:
Bisection(-1, 0, f, tolerance=pow(10, -2), output="table")

          a      f(a)        b      f(b)         p      f(p)
1 -1.000000 -1.000000  0.00000  4.000000 -0.500000  1.312500
2 -1.000000 -1.000000 -0.50000  1.312500 -0.750000 -0.089844
3 -0.750000 -0.089844 -0.50000  1.312500 -0.625000  0.578369
4 -0.750000 -0.089844 -0.62500  0.578369 -0.687500  0.232681
5 -0.750000 -0.089844 -0.68750  0.232681 -0.718750  0.068086
6 -0.750000 -0.089844 -0.71875  0.068086 -0.734375 -0.011768
7 -0.734375 -0.011768 -0.71875  0.068086 -0.726562  0.027943

In [30]:
print("The answer is : " , Bisection(-1, 0, f, tolerance=pow(10, -2), output="answer"))

The answer is :  -0.7265625

### (5) Use the Bisection method to find solutions accurate to within 10 −5 for the following problems.