# [Numerical Computing](https://aadimator.github.io/numerical-computing)
#### Notes by Aadam - [@aadimator](https://github.com/aadimator)

# Newton's Method
## Algorithm

In [ ]:
'''
To find a solution to f(x) = 0 given an initial approximation p₀ :
INPUT initial approximation p₀ ; tolerance TOL; maximum number of iterations N₀ .
OUTPUT approximate solution p or message of failure.
Step 1 Set i = 1.
Step 2 While i ≤ N₀ do Steps 3–6.
    Step 3 Set p = p₀ − f(p₀ )/f'(p₀). (Compute pᵢ .)
    Step 4 If |p − p₀ | < TOL then
            OUTPUT (p); (The procedure was successful.)
            STOP.
    Step 5 Set i = i + 1.
    Step 6 Set p₀ = p. (Update p₀ .)
Step 7 OUTPUT (‘The method failed after N₀ iterations, N₀ =’, N₀ );
        (The procedure was unsuccessful.)
        STOP.
'''

## Code

In [65]:
import pandas as pd
from sympy import *

def NewtonsMethod(p0, equation, tolerance=0.000001, max_iterations=50, output='answer', stopping_criterion='tolerance', iteration=50):
    '''
    The Newton's Method
    
    Keyword arguments:
    p0 (double) -- initial approximation p₀
    equation -- an equation of 'x' that we need to evaluate
    tolerance (double) -- error tolerance (default = 0.000001)
    max_iterations (int) -- number of maximum iterations (default = 50)
    output (string) -- how to output the result (default = 'answer')
                possible values are:
                  - 'answer' : to show the value of "p"
                  - 'table' : to show all the values in tabular form
    stopping_criterion (string) -- when to stop the processing (default = 'tolerance')
                possible vaulse are:
                  - 'tolerance' : to stop at a certain tolerance level
                  - 'iteration' : to stop at a certain iteration (must provide value for 'iteration' argument)
    iteration (int) -- on which iteration to stop the processing (default = 50)
    
    Returns:
    
    It will return the value according to the value in 'output' argument.
    If value of output is 'answer', it will return a float. If it is 'table', it will return a DataFrame.
    '''
    
    f = lambdify(x, equation)
    df = lambdify(x, equation.diff(x))
    
    if (output == "table"):
            P = list()
            P.append(p0)
            
    for i in range(1, max_iterations):
        p = p0 - (f(p0)/df(p0))
        
        if (output == "table"):
            P.append(p)
        
        if (abs(p - p0) < tolerance or (stopping_criterion == 'iteration' and iteration == i)):
            if (output == 'answer'):
                return p
            if (output == 'table'):
                # create a table and return it
                d = {'p' : P}
                return pd.DataFrame(data=d).style.format("{:.10}")
        
        p0 = p
    
    return "Method failed after " + max_iterations + " iterations."

## Example 1
### Consider the function f(x) = cosx−x = 0. Approximate a root of *f* using Newton’s Method

In [43]:
import math
from sympy import *

x = Symbol('x')
NewtonsMethod(math.pi/4, cos(x) - x, output="table")

## Exercise Set 2.3

### 1. Let f(x) = x² − 6 and p₀ = 1. Use Newton’s method to find p₂ .

In [45]:
from sympy import *

x = Symbol('x')
NewtonsMethod(1, pow(x, 2) - 6, output="table", stopping_criterion="iteration", iteration=2)

### 2. Let f(x) = −x³ − cosx and p₀ = −1. Use Newton’s method to find p₂ . Could p₀ = 0 be used?

In [46]:
from sympy import *

x = Symbol('x')
NewtonsMethod(-1, pow(x, 3) - cos(x), output="table", stopping_criterion="iteration", iteration=2)

In [47]:
from sympy import *

x = Symbol('x')
NewtonsMethod(0, pow(x, 3) - cos(x), output="table", stopping_criterion="iteration", iteration=2)

ZeroDivisionError: float division by zero

In [52]:
from sympy import *

x = Symbol('x')
equation = pow(x, 3) - cos(x)
df = lambdify(x, equation.diff(x))

df(0)

0.0

#### No, we can't use p₀ = 0, because if we do, then derivate of *f* returns 0 and then we try to divide by that 0 in the formula to obtain p₁ , which causes a division by zero error.

### 5. Use Newton’s method to find solutions accurate to within 10⁻⁴ for the following problems.

### a. x³ − 2x² − 5 = 0, [1,4]

In [58]:
from sympy import *

x = Symbol('x')
NewtonsMethod(p0=2, equation=pow(x, 3) - 2*pow(x, 2) - 5, tolerance=pow(10, -4), output="table")

### b. x³ + 3x² − 1 = 0, [−3,−2]

In [60]:
from sympy import *

x = Symbol('x')
NewtonsMethod(p0=-3, equation=pow(x, 3) + 3*pow(x, 2) - 1, tolerance=pow(10, -4), output="table")

### c. x − cosx = 0, [0,π/2]

In [61]:
from sympy import *

x = Symbol('x')
NewtonsMethod(p0=0, equation=x - cos(x), tolerance=pow(10, -4), output="table")

### d. x − 0.8 − 0.2sinx = 0, [0,π/2]

In [73]:
from sympy import *

x = Symbol('x')
NewtonsMethod(p0=0, equation=x - 0.8 - 0.2*sin(x), tolerance=pow(10, -4), output="table")